<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-controller="MainCtrl">
 <!-- <div class="uk-grid uk-grid-collapse ">
    <div class="uk-width-1-10"></div>
    <div class="uk-width-8-10">
      <div class="uk-width-1-1 top1">发布表单 <input type="text" placeholder="地址" value=""></div>
      <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-7-10">
          <div class="addform">
             <div class="uk-width-1-1 top2"><input type="text" placeholder="未命名表单" value=""></div>
            <div ng-repeat="control in controls" style="cursor:pointer;border: 1px solid pink" ng-click="danhang()">
              <table>{{control.title}}</table>
              <div> <input type="text"style="cursor:pointer" ng-model="control.content"></div>
            </div>
          </div>
          <div class="uk-grid uk-grid-collapse">
            <div class="uk-width-1-4">
              <div class="ziduan"  ng-click="addRow()">单行文本</div>
            </div>
            <div class="uk-width-1-4">
              <div class="ziduan"  ng-click="addRow()" >多行文本</div>
            </div>
            <div class="uk-width-1-4">
              <div class="ziduan"  ng-click="addRow()" >单项选择</div>
            </div>
            <div class="uk-width-1-4">
              <div class="ziduan"  ng-click="addRow()" >多项选择</div>
            </div>
          </div>
        </div>
        <div class="uk-width-3-10">
          <div ng-repeat="control in controlss">
            <table>标题</table>
            <div> <input type="text" ng-model="control.title"></div>
            <table>提示</table>
            <div> <input type="text" ng-model="control.content"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-width-1-10"></div>
  </div>-->
  <p>例子1</p>
  <p>{{greeting.text}},angular</p>
  <p>例子2</p>
  Your name: <input type="text" ng-model="yourname" placeholder="World">
  <hr>
  Hello {{yourname || 'World'}}!
  <p>例子3</p>
  <fieldset>
  <b>计算</b>
  <br>
  <table>
    <tr>
      <td>单价：（美元）</td>
      <td>数量</td>
    </tr>
    <tr>
      <td><input type="number" ng-model="qty" required> </td>
      <td><input type="number" ng-model="cost" required> </td>
    </tr>
  </table>
  <b>金额：</b>{{qty*cost|currency}}
  </fieldset>
  <P>例子4</P>
  <fieldset>
  <b>改变model来控制DOM</b>
  <br>
  <legend>例子</legend>
    <input type="text" ng-model="data.msg"/>
    <div class="{{data.msg}}">我是一个{{data.msg}}</div>
  </fieldset>
<!-- <my-tabs>
    <my-pane title="Hello">
      <h5 id="creating-custom-directives_source_hello">Hello</h5>
      <p>Lorem ipsum dolor sit amet</p>
    </my-pane>
    <my-pane title="world">
      <h5 id="creating-custom-directives_source_world">World</h5>
      <em>1233445555555</em>
      <p><a href ng-click="i=i+1">counter:{{i||0}}</a></p>
    </my-pane>
  </my-tabs>-->

</div>
<div class="footer-stub"></div>
